<div class="row user-info" ng-init="loadUser(id)">
    <div class="col-sm-8 col-sm-offset-2">
        <a id="result-link" href="/img/temp.jpg" data-lightbox="example-2" data-title="Коллаж пользователя."></a>

        <div class="row">
            <form class="form-inline" ng-model="form" ng-submit="createCollage(id,collage_size.type)">
                <div class="form-group">
                    <label >Выберите размер коллажа: </label>
                    <select ng-model="collage_size.type" class="form-control">
                        <option ng-repeat="option in sizeOptions track by $index" value="{{option.value}}">{{option.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-danger">Создать</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 ng-if="id!=='self'">Пользователь {{user.username}}</h3>
                <h3 ng-if="id=='self'">Моя новостная лента</h3>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="">
                            <img class="media-object" ng-src="{{user.profile_picture}}" alt="...">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="media-heading">{{user.full_name}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-3" ng-repeat="image in media">
                <a href="#" class="thumbnail">
                    <img src="{{image.images.thumbnail.url}}" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>