<h3>Для начала введите логин или имя пользователя</h3>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form ng-submit="searchSubmit(query)" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="query" placeholder="Search">
                <button type="submit" class="btn btn-default ">Искать</button>
            </div>
        </form>
    </div>
</div>
<h3>также можете авторизоваться и создать коллаж из своей ленты</h3>
<div ng-init="getMyInfo()">
    <div class="row" ng-hide="isAuthenticated()">
        <a href="/auth" class="btn btn-primary">Авторизоваться через инстаграмм</a>
    </div>
    <div class="row" ng-show="isAuthenticated()">
        <a href="#/user/self/collage" class="btn btn-success">Создать коллаж своей ленты</a>
    </div>
</div>
