<div class="row" ng-init="searchUsers(params.query)" id="searchedUsers">
    <div class="col-xs-12">
        <h3>Выберите из списка нужного человека</h3>
    </div>
    <div class="col-sm-6" ng-repeat="user in searched">
        <div class="row">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="" ng-click="selectUser(user)">
                            <img class="media-object" ng-src="{{user.profile_picture}}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{user.username}}</h4>
                        {{user.full_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>