<div class="row user-info" ng-init="loadUser(params.id)">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Пользователь {{selected.username}}
            <a href="#/user/{{params.id}}/collage" class="btn btn-success">Создать коллаж из фото</a>
        </h3>
        <div class="row">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="">
                        <img class="media-object" ng-src="{{selected.profile_picture}}" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h4 class="media-heading">{{selected.full_name}}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-3" ng-repeat="image in selectedMedia">
                <a href="#" class="thumbnail">
                    <img src="{{image.images.thumbnail.url}}" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>